html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-color: $color-dark;
  color: $color-light;
}

.clock {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.clock--hours {
  @include clearfix;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.clock--hourBar {
  flex: 1;
  background-color: $color-gray-dk;
  margin: 10px;
  position: relative;
  border-radius: 3px;
}

.clock--minuteBar {
  transition: top 1s linear;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  border-radius: 3px;
}

@for $i from 0 through 11 {
  $duration: ($i / 11 * 10) + 20;
  .clock--hourBar-#{$i} {
    .clock--minuteBar {
      animation: cycling-bg-color #{$duration}s linear infinite alternate;
    }
  }
}